language: php

php:
  - nightly
  - 5.6
  - 5.5
  - 5.4
  - hhvm
  - hhvm-nightly

matrix:
    allow_failures:
        - php: nightly
        - php: hhvm
        - php: hhvm-nightly

before_install:
    - composer self-update

before_script:
    - travis_retry composer install --no-interaction --prefer-source

script:
    - vendor/bin/phpunit --coverage-text
