{
    "chmod": "0755",
    "directories": [
        "src"
    ],
    "files": [
        "LICENSE",
        "bootstrap.php"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests", "bin/version"],
            "in": "vendor"
        }
    ],
    "main": "bin/humbug",
    "output": "humbug.phar",
    "stub": true,
    "compactors": "Herrera\\Box\\Compactor\\Php",
    "compression": "BZ2"
}