{
    "chmod": "0755",
    "directories": [
        "src"
    ],
    "files": [
        "LICENSE",
        "bootstrap.php"
    ],
    "finder": [
        {
            "name": [
                "*.php"
            ],
            "exclude": [
                "tests",
                "mockery",
                "behat",
                "symfony/class-loader",
                "symfony/translation",
                "symfony/dependency-injection",
                "symfony/filesystem",
                "symfony/config",
                "mikey179"
            ],
            "in": [
                "vendor"
            ]
        }
    ],
    "main": "bin/humbug",
    "output": "build/humbug.phar",
    "stub": true,
    "compactors": "Herrera\\Box\\Compactor\\Php",
    "compression": "BZ2"
}